# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Secrets e credenciais
.env
config/credentials/
credentials/
*.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Outros
*.bak
*.tmp
